body{
	background-color:#e1fffe; /* universal bg color, do not change-NM(Nikolas Misins)*/
}

h1{
	font-family: "Noto Sans";
	color:#308bff;
	font-weight:bold; /*Universal heading style, do not change-NM*/
}

p{
	font-family:"Radio Canada";
	font-weight:300; /*universal paragraph style, do not change-NM*/
}

p.bold {
	font-weight:bold; /*a class for p called bold that will...make it bold. I mainly made it for use in the form-NM*/
	font-size:80%;
}

.box{
	border:black solid 3px; /*adding the proper styled border, had to add a capitalised C for custom because bootstrap has a class like this-NM*/
	border-radius:5px;
	background-color:white;
}

label{
	font-family:"Radio Canada"; /*font for form-NM*/
	font-weight:300;
}
td,tr{
	text-align:center;
}