body {
  background-color: #e1fffe; /* universal bg color, do not change-NM(Nikolas Misins)*/
}

h1 {
  font-family: "Noto Sans";
  color: #308bff;
  font-weight: bold; /*Universal heading style, do not change-NM*/
}

p {
  font-family: "Radio Canada";
  font-weight: 300; /*universal paragraph style, do not change-NM*/
}

p.bold {
  font-weight: bold; /*a class for p called bold that will...make it bold. I mainly made it for use in the form-NM*/
  font-size: 80%;
}

.box {
  border: black solid 3px; /*adding the proper styled border, had to add a capitalised C for custom because bootstrap has a class like this-NM*/
  border-radius: 5px;
  background-color: white;
}

label {
  font-family: "Radio Canada"; /*font for form-NM*/
  font-weight: 300;
}

label.check {
  margin-left: 10px; /*exists just to style the checkbox area in the form- NM*/
}

td,
tr form {
  text-align: center; /* makes the form in the newsletter sign-up centered -NM*/
}

/* Grid for target and indicator -Odmaa Davaa */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  height: 100vh; /* Full viewport height */
}
/* Grid for target and indicator -Odmaa Davaa */
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 1px solid #ccc; /* Optional for visual separation */
  padding: 40px;
}
/* Grid for target and indicator -Odmaa Davaa */
.grid-item:nth-child(odd) {
  background-color: skyblue;
}
/* Grid for target and indicator -Odmaa Davaa */
.grid-item:nth-child(even) {
  background-color: lightblue;
}
/* Item for target and indicator -Odmaa Davaa */
.itemcard {
  margin-top: 20px;
}
/* imgfor target and indicator -Odmaa Davaa */
.imgTextContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
}
/*cardImagefor target and indicator -Odmaa Davaa */
.cardImage {
  margin-top: 30px;
}
/* indicator for target and indicator -Odmaa Davaa */
.indicatorBtn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

label#emailRemind, /*NM*/
label#nameRemind {
  color: red;
  font-size: 50%;
  position: relative;
  top: 5px;
}


hr{
	background-color:black;
	margin-top:0; /*NM, makes the navbar look better by hacing this styled header below it*/
}

a>p{
	text-decoration:underline; /*NM, underlined links in the home page */
}

/*All content below is CSS by Nathan  */

.about-1{
	width:90%;
	display:  flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin:20px auto;
}

.about-1 h1{
	font-family: "Noto Sans";
	color:#308bff;
	font-weight:bold; 
	position: relative;
}
.about-1 h1::after{
	content:"";
	position: absolute;
	width:100%;
	height: 4px;
	display: block;
	margin:0 auto;
	background-color: #4caf50
}
.heading p{
	font-size: 18px;
	color:#666;
	margin-bottom: 35px;
}
.container{
	width:90%;
	margin:0 auto;
	padding:10px 20px
}
.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.about-item h3{
	font-family: "Noto Sans";
	color:#308bff;
	font-weight:bold;
}
.about-item p{
	font-size: 18px;
	line-height: 1.5;
	color:#666;
}

.about-item{
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: white;
	padding: 80px,30px;
}

.about-item i{
	font-size: 43px;
	margin: 0;
}



.container-2{
	width:100%;
}
.news-section{
	width:85%;
	margin:20px auto;
}
.news-section .title{
	width:60%;
	text-align: center;
	margin:auto;
}
.news-section .title h2{
	font-size : 40px;
	color:#308bff;
	margin-top: 50px;
}
.news-section .title p{
	font-size: 18px;
	color:#666;
	margin-top: 20px;
}
.cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	margin:25px auto;
}
.cards  .card{
	width:100%;
	height: auto;
}
.content{
	padding:15px 20px;
}
.content h4{
	font-size: 24px;
	color:#308bff;
	font-weight: 500;
}
.content p{
	color:#666;
	font-size: 15px;
}
.card .posted-date p{
	color:#308bff;
}
